<div id="simple-cookie-consent">
    <div class="cookie-consent-container">
      <div class="cookie-consent-notice">
        <h4>Zgoda na użycie ciasteczek</h4>
        <hr>
        <p>Ta strona używa ciasteczek. Klikając przycisk akceptuj, akceptujesz naszą <a href="{% url 'cookies_policy' %}">politykę cookies</a>.</p>
      </div>
      <div class="cookie-consent-selection">
        <button class="cookie-consent-allow" id="cookie-consent-button-id">Zaakceptuj</button>
      </div>
    </div>
  </div>