{% load static %}
{% if error_flag %}
        <!--<script src={% static "shopping_list/show_error_popup.js" %}></script>-->

            <div class="error_popup" id="error_popup">
                <p class="err_popup_p_tag_activated error_popup_general" id="error_msg_p">{{error_msg}}</p>
                <div style="display:none" id="div_error_flag_error_popup"></div>
            </div>

    {% else %}
        <div id="error_popup"><p class="err_popup_p_tag_deactivated error_popup_general" id="error_msg_p" >a</p></div>
    {% endif %}