{% extends "base.html" %}
{% load static %}
{% block title %}
Lista zakupów | ustawienia {{user_obj.nick}}
{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'shopping_list/styles.css' %}">
{% endblock %}

{% block content %}
<div>
{% include "shopping_list/includes/page_title_snippet.html" %}
{% include "shopping_list/includes/error_popup.html" with error_flag=error_flag error_msg=error_msg %}
{% if success_flag %}
    <p>{{success_msg}}</p>
{% endif %}
<h2>Ustawienia mojego profilu</h2>
{%if list_id %}
    <a href="{% url 'list_page' user_profile_url_txt list_id%}">powrót</a>
{% else %}
    <a href="{% url 'user_profile_page' user_profile_url_txt %}">powrót</a>
{% endif %}
<h3>nick<h3>
<form method="POST" action ="{% url 'update_nick' user_profile_url_txt %}">
    {% csrf_token %}
{% if list_id %}
<input type="hidden" name="list_id" value="{{list_id}}"/>
{% endif %}
<table>
<tr><td>aktualny nick: </td><td>{{user_obj.nick}}</td></tr>
<tr><td>nowy nick: </td><td><input type="text" name="new_nick" /></td></tr>
<tr><td>hasło: </td><td><input type="password" name="confirm_password"/></td></tr>
<tr><td><input type="submit" value="zmień nick"/></td></tr>
</table>
</form>

<h3>hasło</h3>
<form method="POST" action="{% url 'update_password' user_profile_url_txt %}">
    {% csrf_token %}

    {% if list_id %}
        <input type="hidden" name="list_id" value="{{list_id}}"/>
    {% endif %}
    <table>
        <tr><td>podaj nowe hasło: </td><td><input type="password" name="new_password_1"/></td></tr>
        <tr><td>powtrórz nowe hasło: </td><td><input type="password" name="new_password_2"/></td></tr>
        <tr><td>podaj aktualne hasło: </td><td><input type="password" name="current_password"/></td></tr>
        <tr><td><input type="submit" value="zmień hasło"></td></tr>
    </table>
</form>

<h3>adres email</h3>
<form method="POST" action ="{% url 'update_email' user_profile_url_txt %}">
    {% csrf_token %}

    {% if list_id %}
    <input type="hidden" name="list_id" value="{{list_id}}"/>
    {% endif %}
    <table>
    <tr><td>aktualny adres email: </td><td>{{user_obj.email}}</td></tr>
    <tr><td>nowy adres email: </td><td><input type="text" name="new_email" /></td></tr>
    <tr><td>hasło: </td><td><input type="password" name="confirm_password"/></td></tr>
    <tr><td><input type="submit" value="zmień email"/></td></tr>
    </table>
</form>

<h3>Usunięcie konta</h3>
<form id="delete_account_form_id" method="POST" action = "{% url 'delete_account' user_profile_url_txt %}" >
    {% csrf_token %}
    {% if list_id %}
    <input type="hidden" name="list_id" value="{{list_id}}" />
    {% endif %}
    <p>Podaj hasło, by usunąć konto: <input type="password" name="confirm_password"  id="delete_account_password_submit" /> <button type="button" id="delete_account_button_id">usuń konto</button> <!-- <input type="submit" value="Usuń konto" id="delete_account_submit_id"/>--> </p>
</form>
</div>
<script src="{% static 'shopping_list/edit_profile_page_scripts.js' %}" type="module"></script>

{% endblock %}
