{% extends "base.html" %}
{% load static %}
{% block title %}
Lista zakupów
{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'base.css' %}"/>
<link rel="stylesheet" href="{% static 'shopping_list/styles.css' %}"/>
<link rel="stylesheet" href="{% static 'shopping_list/index_page_styles.css' %}"/>

{% endblock %}

{% block content %}
<div>
    <script src="{% static 'shopping_list/show_error_popup.js' %}" type="module"></script>
    

    {% include "shopping_list/includes/page_title_snippet.html" %}
    {% include "shopping_list/includes/error_popup.html" with error_msg=error_msg error_flag=error_flag  %}
    

    <table>
        <tr><td class="main_table_cell">
            {% block form_tag_info %}
            <form method="POST" action="{% url 'login_user' %}">
            {% endblock %}
                    <table id="login-table">
                            <tr><td><h2>{%block login_title %}Logowanie{% endblock %}</h2></td></tr>
                            <tr><td>{% csrf_token%}
                            <label for="user_login">login: </label>
                            </td><td>
                            <input type="text" name="user_login" id="user_login_login"/>
                            </td></tr>
                            <tr><td>
                            <label for="user_password_1">hasło: </label>
                            </td><td>
                            <input type="password" name="user_password_1" id="user_password_1_login"/>
                            </td></tr>
                            <tr><td>
                            <input type="submit" value="zaloguj"/>
                            </td></tr>
                    </table>
            </form>
        </td>
        {% block registration %}
            <td class="main_table_cell">
                <form method="POST" action="{% url 'register_user' %}">
                <table>
                    <tr><td><h2>Rejestracja</h2></td><td></td></tr>
                    <tr><td>{% csrf_token%}<label for="user_login">login: </label></td><td><input type="text" name="user_login" id="user_login_register"/></td></tr>
                    <tr><td><label for="user_email">email: </label></td><td><input type="text" name="user_email" id="user_email"/></td></tr>
                    <tr><td><label for="user_password_1">hasło: </label></td><td><input type="password" name="user_password_1" id="user_password_1_register"/></td></tr>
                    <tr><td><label for="user_password_2">Powtórz hasło: </label></td><td><input type="password" name="user_password_2" id="user_password_2_register"/></td></tr>
                    <tr><td><label for="user_nick">Nick: </label></td><td><input type="text" name="user_nick" id="user_nick"/></td></tr>
                    <tr><td><input type="submit" value="zarejestruj"/></td><td></td></tr>
                </table>
            </form>
        </td>
        {% endblock %}
        </tr>
    </table>
    
    
    

    {% include "shopping_list/includes/cookies_popup.html" %}
    <script src="{% static 'shopping_list/index_page_scripts.js' %}" type="module"></script>
</div>

{% endblock %}





