{% extends "base.html" %}
{% load static %}
{% block title %}
Lista zakupów | {{user_data.nick}}
{% endblock %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'base.css' %}"/>
<link rel="stylesheet" href="{% static 'shopping_list/styles.css' %}"/>
{% endblock %}

{% block content %}
{% include "shopping_list/includes/page_title_snippet.html" %}
{% include "shopping_list/includes/account_snippet.html" with user_info_nick=user_data.nick user_info_hash=user_data.user_hash user_info_user_profile_url_txt=user_data.user_profile_url_txt %}
{% include "shopping_list/includes/error_popup.html" with error_msg=error_msg error_flag=error_flag  %}

<h2>Utwórz nową listę</h2> 
<form id="create_new_list_form_id" method = "POST" action="{% url 'create_new_list' user_data.user_profile_url_txt %}">
    {% csrf_token %}

<label for="new_list_name">nazwa: </label>
<input type="text" name="new_list_name" id="new_list_name"/>

<button type="button" id="create_new_list_button">utwórz</button>
</form>
<h2>Moje listy</h2>
{% for lst in owned_lists %}
<form method="get" action={{lst.list_link}}>
{% csrf_token %}
<input type="hidden" value="{{lst.id}}" name="list_id" id="list_id_{{lst_id}}"/>
<input type="submit" value="{{lst.name}}"/>
</form>
{% endfor %}
<h2>Udostępnione listy</h2>
{% for lst in edited_lists %}
<form method="get" action={{lst.list_link}}>
    {% csrf_token %}
    <input type="hidden" value="{{lst.id}}" name="list_id" id="list_id_{{lst_id}}"/>
    <input type="submit" value="{{lst.name}}"/>
</form>
{% endfor %}
<h2>Zaproszenia</h2>
{% if invites_data|length != 0 %}
<table>    
<tr><td>lista</td><td>właściciel (hash)</td><td>zaakceptuj</td></tr>
{% for invite in invites_data %}
    <tr><td>{{invite.list_name}}</td><td>{{invite.list_owner}} ({{invite.owner_hash}})</td>
        <td><form method="POST" action="{% url 'accept_invite' user_data.user_profile_url_txt %}"> {% csrf_token %}<input type="hidden" name="list_id" value="{{invite.list_id}}"/><input type="submit" value="zaakceptuj" /></form></td>
        <td><form method="POST" action="{% url 'reject_invite' user_data.user_profile_url_txt %}"> {% csrf_token %}<input type="hidden" name="list_id" value="{{invite.list_id}}"/><input type="submit" value="odrzuć" /></form></td></tr>
        
{% endfor %}
</table>
{% else %}

{% endif %}

<script src="{% static 'shopping_list/user_profile_scripts.js' %}" type="module" ></script>
{% endblock %}